
body {
    margin: 0;
    padding: 0;
    background-color: rgba(255,213,0, 0.1);
}


main {
    display: grid;
    gap: 10px;
    text-wrap: wrap;
}


article {
    background-color: white;
}




article, section div {
    margin: 0px;
    padding: 20px;
}



aside {
    padding: 10px 30px;
}


aside ul {
    padding: 0px 10%;
}

aside li {
    list-style-type: none;
    line-height: 1.2rem;
    padding: 10% 0px;
}



img {
    max-width: 100%;
    height: auto;
}

.pictureText {
    margin: 0;
    color: gray;
}

.bottomLine {
    border-bottom: 1px solid rgba(115, 117, 120, 0.3)
}




.flexContainer {
    display: flex;
}

.flexContainer h3 {
    text-align: center;
}

.flexContainer div {
    width: 30%;
}

nav, footer {
    background-color: rgba(255,213,0,255);
}

footer {
    padding: 1vh 5vw 0px 5vw;
}



.icon-container
{
    display: grid;
    align-items: center; 
    line-height: 2rem;
}


.social-media-icon
{
    max-width: 20px;
    max-height: 20px;

}

a {
    font-weight: 600;
    color:black;
    text-decoration-color: rgba(255,213,0,255);
    text-decoration-thickness: 2px;
    text-underline-offset: 3.5px;
}

a:hover {
    text-decoration-color:black;
}

.konsekvenser {
    margin: auto;
}

.box, .box div, .box p {
    border-radius: 15px;
    margin: 5px 5px;
    padding: 10px;
}



.yellow > p, .yellow div {
    background-color: rgba(254,212,0, 0.5);
}


.button {
    text-decoration-color: black;
    background-color: black;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    margin-left: auto;
}

.white > div {
    background-color: white;
}

.icon-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;
}


.menu-links{
    display: none;
    list-style-type: none;
}

.menu-links li {
    font-size: 1.3rem;
    padding: 10px; 
}


#ham-menu-toggle {
    display: none;
    
}

nav label {
    cursor: pointer;

}

#ham-menu-toggle:checked ~ .menu-links{
    display: block;
}

.ham-icon{
    width: 60px;
    height: 60px;
}

.backgroundImage {
    background-image: url(../img/Galaxy.jpg);
    filter: blur(px);
}

@media (max-width: 700px) {

    main {
        grid-template-columns: 100%;
    }

    .flexContainer {
        flex-direction: column;

        align-items: stretch;
        justify-content: center;

    }

    .flexContainer div {
        margin: auto;
    }
}


@media (min-width: 701px) {

    main {
        grid-template-columns: 25vw minmax(50vw, 70vw) minmax(20vw, 25vw);
    }

    article {
        grid-column: 2 /  3;
        grid-row: 1;
    }

    section {
        grid-column: 2 / 3;
        grid-row: 2;
    }

    aside {
        grid-column: 1 / 2;
        grid-row: 1;
        position: fixed;
    }

    .twoColumns {
        margin-top: 10px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .flexContainer {
        flex-direction: row;
        column-gap: 20px;
    }


    .konsekvenser {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }

}


