
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
/* Index */

/* Hamburger menu */
nav {
    background-color: yellow;
}
.menu-links{
    display: none;
    list-style-type: none;
}

.menu-links li {
    padding: 10px; 
}


.menu-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu-links a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#ham-menu-toggle {
    display: none;
    
}

nav label {
    cursor: pointer;

}

#ham-menu-toggle:checked ~ .menu-links{
    display: block;
}

img{
    width: 100%;
    height: auto;
}

.ham-icon{
    width: 60px;
    height: 60px;
}
